@font-face {
  font-family: Estiana;
  src: url(../assets/AVEstiana-Black-BF6776121fde086.otf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  background-color: #f0ede0;
  margin: 0;
  font-family: Inter;
  font-size: 26px;
}

h1 {
  font-family: Estiana;
  font-size: 48px;
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}

#turn-display {
  text-align: center;
  padding-top: 30px;
}

#game-over-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 3rem;
  gap: 20px;
}

.hidden {
  display: none !important;
}

#restart-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
}
/* GAME */

.board {
  display: flex;
  justify-content: center;
  gap: 100px;
}

#player-board,
#npc-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 500px;
  width: 500px;
  border: 2px solid black;
}

.cell {
  background-color: #fcfaf1;
  border: 1px solid rgb(0, 0, 0);
}

#npc-board .cell {
  cursor: pointer;
}

#player-board .ship {
  background-color: rgba(105, 105, 241, 0.705);
  border: 1px solid rgb(105, 105, 241);
}

.ship-attacked {
  background-color: rgba(241, 105, 105, 0.705);
  border: 1px solid rgb(241, 105, 105);
  cursor: default;
}

.missed-attack {
  background-color: rgba(162, 155, 155, 0.705);
  border: 1px solid rgb(89, 85, 85);
  cursor: default;
}
